/*Homepage-Image*/
/*#HomePage-img {
    display: none;
}

#HomePage-img {
    visibility: visible;
}*/


body{
    padding-bottom: 70px;
    padding-top: 70px;
    background-color: #E9F7E8;
    color: #777777;
}

/*Navigation Bar Top*/
.navbar-inverse {
    background-image: none;
    background-color: #28B3B2;
    border: none;
    box-shadow: 0 6px 8px grey;
    border-radius: 0 0 10px 10px;
}


.navbar-default{
    background-image: none;
    background-color: #28B3B2;
    border-color:#fff;
}

.navbar-default .navbar-text{
    color: #fff;
    
}


/*Navbar-bottom*/
.navbar-fixed-bottom {
    background-image: none;
    background-color: #28B3B2;
    border: none;
    box-shadow: 0 0px 9px 4px grey;
    border-radius: 10px 10px 0 0;
}


/*Forms*/
.form-control{
    background-color: #7ABFBF;
    border: none;
    border-radius: 0px;
    color: #fff;
}

.Search-Form {
    background-color: #7ABFBF;
    border: none;
    border-radius: 0px;
    color: #fff;
    width: 60%;
    text-align: center;
    margin: 10px;
    transition: box-shadow 0.4s;
}

.Search-Form:focus {
    box-shadow: 1px 4px 5px grey;   
}

.Forms{
    background-color: #7ABFBF;
    border: none;
    border-radius: 0px;
    color: #fff;
    margin-left: 7px; 
    margin-right: 7px;
    width: 30%;
    padding: 3px;
    transition: box-shadow 0.4s;
}

.Forms:focus {
    box-shadow: 1px 4px 5px grey;
}


/*Buttons*/
.btn-success{
    background-color: #219E9D;
    border: none;
}

.btn{
    border-radius: 0px;
    padding: 7px 20px;
}

.Search-Btns {
    background-color: rgb(40, 179, 178);
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 3px;
    border: 1px solid rgb(168, 170, 169);
    font-family: verdana;
    font-size: 13px;
    transition: background-color 0.5s, color 0.5s;
}

.Submit-Btns {
    background-color: rgb(40, 179, 178);
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 3px;
    border: 1px solid rgb(168, 170, 169);
    font-family: verdana;
    font-size: 13px;
    transition: background-color 0.5s, color 0.5s;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.Submit-Btns:hover {
    background-color: #bfffff;
    color: black;
}

/*Navbar-Top Links*/
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{
    text-shadow: 0 0px 0 rgba(0, 0, 0, .25);
}

.navbar-inverse .navbar-brand{
    color: #fff;
}


/*Search Div Koelkast-Page*/
.titel {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #c8c8c8;
    background-color: #bfffff;
    border-radius: 7px;
    width: 70%;
    padding-bottom: 10px;
    margin-top: 10px;
}

/*Product div's*/
.achtergrond {
    color: #fff;
    margin: 0 auto;
    background-color: #BFFFFF;
    width: 681px;
    height: 192px;
    margin-top: 25px;
    box-shadow: 6px 6px 10px grey;
    border-radius: 5px;
}

/* Voor de koelkastpagina */
/*.achtergrond{
    color: #fff;
    margin: 0 auto;
    background-color: #BFFFFF ;
    width: 681px;
    height: 192px;
    margin-top: 25px;
}*/

.afbeelding{
    width: 192px;
    height: 192px;
    background-color: #fff;
    float: left;
    margin-left: 16px;
}

.product{
    width: 100%;
    height: 100%;
}

.terug{
    width: 20%;
    height: auto;
    background-color: white;
    position: absolute;
}

.productachtergrond{
    width: 453px;
    height: 93px;
    float: right;
    margin-right:20px;
    margin-top:16px; 
    background-color: #28B3B2;
    border-radius: 0 6px 6px 0;
}

.knoppen{
    width: 407px;
    height: 48px;
    float: right;
    margin-right: 20px;
    margin-top: 11px;
}

.aanpassen{
    font-size: 18px;
    width: 194px;
    height:48px;
    float: right;
    background-color: #7ABFBF;
    text-align: center;
    padding: 12px;
    color: white;
    transition: box-shadow 0.3s, background-color 1s;
    border-radius: 15px;
}

.aanpassen:hover {
    background-color:#7ABF7D;
    box-shadow: 2px 4px 3px grey;
    /*box-shadow: 0px 2px 6px 3px #d48888;*/

}

.verwijderen{
    font-size: 18px;
    width: 194px;
    height:48px;
    float: left;
    background-color: #7ABFBF;
    text-align: center;
    padding: 12px;
    color: white;
    transition: box-shadow 0.3s, background-color 1s;
    border-radius: 15px;
}

.verwijderen:hover {
    background-color: #BF7A7A;
    box-shadow: 2px 4px 3px grey;
    /*box-shadow: 0px 2px 6px 3px #d48888;*/

}


.naam{
    font-size: 25px;
    height: 30px;
    width: 270px;
    float: left;
    margin-left: 45px;
    margin-top: 26px;
}

.aantal{
    font-size: 30px;
    height:35px;
    width: 125px;
    text-align: right;
    float: right;
    margin-right:7px;
    margin-top: 25px;
}

.hoeveelheid{
    font-size: 15px;
    width: 200px;
    height: 25px;
    float: left;
    margin-left: 45px;
}

/*.titel{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}*/

.toevoegen{
    font-size: 15px;
    text-align: center;
    color: #fff;
    width: 680px;
    margin: 0 auto;
    height: 48px;
}

.handmatig {
    padding: 3px;
    height: 100%;
    width: 24%;
    float: left;
    background-color: #403E3E;
    border-radius: 10px;
    color: #bfffff;
    border: 1px solid #bfffff;
}

.scannen {
    padding: 2%;
    height: 100%;
    width: 74%;
    float: right;
    background-color: #403E3E;
    margin: 0px;
    border-radius: 10px;
    color: #bfffff;
    border: 1px solid #bfffff;
}

.handmatig:hover {
    background-color: RGBA(64, 62, 62, 0.81);
}

.scannen:hover {
    background-color: RGBA(64, 62, 62, 0.81);
}


/* Koelkast  */
@media (max-width: 768px) {
    .toevoegen{
    width: 100%;
}
    
    .productachtergrond{
  left: 0;
} 
   
}

@media (min-width: 768px) and (max-width: 991px) {
    .achtergrond {
      width: 40%;
    }
    .afbeelding {
      width: 30%;
    }
    .productachtergrond {
        width:  60%;
    }
    .naam {
        width:  30%;
    }
    .aantal {
        width:  30%;
    }
    .hoeveelheid {
        width:  30%;
    }
    .knoppen {
        width: 60%;
    }
    .verwijderen {
        width:  45%;
    }
    .aanpassen {
        width:  45%;
    }    
}

@media (min-width: 768px) and (max-width: 991px) {
    .achtergrond {
      width: 70%;
    }
    .afbeelding {
      width: 30%;
    }
    .productachtergrond {
        width:  60%;
    }
    .naam {
        width:  30%;
    }
    .aantal {
        width:  30%;
    }
    .hoeveelheid {
        width:  30%;
    }
    .knoppen {
        width: 60%;
    }
    .verwijderen {
        width:  45%;
    }
    .aanpassen {
        width:  45%;
    }    
}


@media (min-width: 500px) and (max-width: 767px) {
    .achtergrond {
      width: 100%;
    }
    .afbeelding {
      width: 30%;
    }
    .productachtergrond {
        width:  60%;
    }
    .naam {
        width:  30%;
    }
    .aantal {
        width:  30%;
    }
    .hoeveelheid {
        width:  30%;
    }
    .knoppen {
        width: 60%;
    }
    .verwijderen {
        width:  45%;
    }
    .aanpassen {
        width:  45%;
    }    
}