/*navigation bar top*/
.navigation {
    background-color:  #3b99ff;
    color:  #3b99ff;
}

.content-body {
    margin-top: 55px;
}

.content-body {
    margin-top: 55px;
}

.content-body{
    margin-top: 55px;
}

@media (min-width: 768px) {
    .content-body {
        margin-top: 52px;
}
}

@media (min-width: 992px) {
    .content-body {
    margin-top: 80px;
}
}

@media (min-width: 1200px) {
    .content-body {
    margin-top: 52px;
}
}
/*.navigation-links {
    color: #FFF;
}

.navigation-links:focus {
    color: #D8FFE8;
}*/
