@{
   if (!WebSecurity.IsAuthenticated){Response.Redirect("~/Account/Login");}
    Layout = "~/_SiteLayout.cshtml";
    
    var ean = "";
    var Product = "";
    var Aantal = "";
    var Afbeelding = "";
    

    var db = Database.Open("StarterSite");
        /*Koelkast word opgehaalt*/
        var Email = WebSecurity.CurrentUserName;
        var codevanuser = "SELECT Koelkastnr FROM Userprofile WHERE LOWER(Email) = LOWER(@0)";
        var decodevanbelang = db.QueryValue(codevanuser, Email);

        var productnaamvanean = "SELECT Productnaam FROM Ean WHERE EanId = @0";
        var afbeeldingvanean = "SELECT Productnaam FROM Ean WHERE EanId = @0";
  
    if(IsPost)
    {
        ean = Request.Form["Ean"];
        Product = db.QueryValue(productnaamvanean,ean);
        Aantal = Request.Form["Aantal"];
        Afbeelding = db.QueryValue(afbeeldingvanean,ean);

        if(Product == null){Response.Redirect("~/Account/Login");}
        else{
                var insertCommand = "INSERT INTO Product (Product, Koelkastnr, Afbeelding, Aantal) VALUES(@0, @1, @2, @3)";  
                db.Execute(insertCommand, Product, decodevanbelang, Afbeelding, Aantal);
                Response.Redirect("~/Koelkast");
        }
    }
    
}
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="barcode.js"></script>
<script type="text/javascript">
    var sound = new Audio("barcode.wav");

    $(document).ready(function () {
        barcode.config.start = 0.2;
        barcode.config.end = 0.9;
        barcode.config.video = '#barcodevideo';
        barcode.config.canvas = '#barcodecanvas';
        barcode.config.canvasg = '#barcodecanvasg';
        barcode.setHandler(function (barcode) {
            //$('#result').html(barcode);
            $("input[name=Ean]").attr("value", barcode);
        });
        barcode.init();

        $('#result').bind('DOMSubtreeModified', function (e) {
            sound.play();
        });
    });
</script>

<div id="barcode">
	<video id="barcodevideo" autoplay></video>
	<canvas id="barcodecanvasg" ></canvas>
</div>
<canvas id="barcodecanvas" ></canvas>
<div id="result"></div>

<h1>Scan hier uw product</h1>
    @Html.ValidationSummary()
  <form method="post">
    <fieldset>
      <legend>Productinformatie</legend>
      <p><label for="ean">Ean Code:</label>
        <input class="Forms" type="text" name="Ean" value="@ean"/></p>
      <p><label for="Aantal">Aantal:</label>
         <input class="Forms" type="text" name="Aantal" value="@Aantal"/></p>
      <p><input type="submit" class="Submit-btn" name="buttonSubmit" value="Toevoegen"/></p>
    </fieldset>
  </form>

<a class="Link-btn" href="~/Koelkast"><p class="Submit-btn">Terug</p></a>