@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Account Vergrendeld";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">Je account is vergendeld na te veel foute inlog pogingen</h2>
</hgroup>

<p>
    Maak je geen zorgen, na 60 seconden kun je het gewoon weer proberen.
</p>