@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Over Koelkast-Manager";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>................</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Created By:</h3>

    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</aside>