@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welkom op de online koelkast manager website";


}




@section featured {
    <section class="featured">


        <h1>@Page.Title</h1>
        <br>
        <div class="homepagina">
            

            <p>
            Bent u nieuw hier? Klik dan op registreer. 
            Heeft u al een account? Log dan in. 
            <br>
            U herkent het vast wel, u bevindt zich in de supermarkt en u weet niet meer wat u in uw koelkast hebt staan. 
            Dit kan als gevolg hebben dat u producten koopt die u al thuis heeft staan.
            Het is natuurlijk zonde van uw geld als u onnodige producten koopt. 
            Dit probleem is nu verleden tijd met deze handige online koelkast manager! 
            U kunt vanaf nu eenvoudig checken in de supermarkt of een bepaald product in uw koelkast is. 
            U kunt niet alleen bijhouden wat er in uw koelkast is, maar u kunt ook de hoeveelheid voor elk gewenst product bijhouden. 
            </p>
        </div>
        <br>
        <br>
            <img src="~/Images/Koelkast-HomePage.jpg" alt="koelkast" id="HomePage-img"></img>
    </section>
}



