@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";


}
<body style="padding-top: 20px;">


@section backgroundimage {
<section class="backgroundimage">
    <img class="Home-img" src="~/Images/HomePage.jpg" alt="koelkast" id="HomePage-img"></img>
</section>
}

<p>hoi jonges dit is ons'e mooie web zijd. Hoop dat jullie er geen ene tyfus mee kunnen. 
Groetjes eelko 
xxx</p>

</body>