@{
     if (!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("~/Account/Login");
     }   

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Koelkast";
    
    var db = Database.Open("StarterSite");
    var selectedData=db.Query("SELECT * FROM Product");
    var grid = new WebGrid(source: selectedData, rowsPerPage: 20);
}


<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>



















<form method="get">
  <div>
    <label for="searchProduct">Zoek product:</label>
    <input type="text" name="searchProduct" value="" />
    <input type="Submit" value="Search Product" /><br/>
    </div>
</form>

<div> 
@grid.GetHtml(
    tableStyle: "grid",
    headerStyle: "head",
    alternatingRowStyle: "alt",
    columns: grid.Columns(
    grid.Column("Afbeelding"),
    grid.Column("Product"),
    grid.Column("Aantal")
    )
  )
</div>

<style type="text/css">
  .grid { margin: 4px; border-collapse: collapse; width: 600px; }
  .grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; }
  .head { background-color: #E8E8E8; font-weight: bold; color: #FFF; }
  .alt { background-color: #E8E8E8; color: #000; }
</style> 
