@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Account/login");
    }

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Voeg een product toe";
    
    var Email = WebSecurity.CurrentUserName;
    var Ean = "";
    var Product = "";
    var Afbeelding = "";
    var Aantal = "1";
    var Hoeveelheid = "Per stuk";

    string map = "/Images/Productafbeeldingen/";
    var db = Database.Open("StarterSite");
    var codevanuser = "SELECT Koelkastnr FROM Userprofile WHERE LOWER(Email) = LOWER(@0)";
    if(Email == ""){Response.Redirect("~/Account/Login");};
    var decodevanbelang = db.QueryValue(codevanuser, Email);

     if(!IsPost)
     {
        if(!Request.QueryString["EanId"].IsEmpty() && Request.QueryString["EanId"].IsInt())
        {
            Ean = Request.QueryString["EanId"];
        }
      }
      
    if(IsPost){
        @*Validation.RequireField("Product", "Je moet een product naam kiezen");
        Validation.RequireField("Aantal", "Kies een Aantal");
        Validation.Add("Aantal", Validator.Integer("U mag alleen cijfers gebruiken voor aantal eenheden"));
        Validation.RequireField("Hoeveelheid", "Kies een Hoeveelheid");
        Validation.Add("Product",
        Validator.StringLength(
            maxLength: 20,
            minLength: 1,
            errorMessage: "U mag maximaal 20 tekens gebruiken"));
        Validation.Add("Aantal",
        Validator.StringLength(
            maxLength: 2,
            minLength: 1,
            errorMessage: "U mag maximaal 99 eenheden toevoegen"));*@
        
            
            Ean = Request.Form["Ean"];
            Product = Request.Form["Product"];
            if(Functions.CheckURLValid(Request.Form["Afbeelding"]))
            {
                Afbeelding = Request.Form["Afbeelding"];
            }
            else if (Request.Form["Afbeelding"].IsEmpty())
            {
                Afbeelding = map + "Default.png";
            }
            else
            {
                Afbeelding = map + Request.Form["Afbeelding"] + ".jpg";
            }

        if(Validation.IsValid()){

            var insertEan = "INSERT INTO Ean (EanId, Productnaam, Afbeelding) VALUES(@0, @1, @2)";
            var insertProduct = "INSERT INTO Product (Product, Koelkastnr, Aantal, Afbeelding, Hoeveelheid) VALUES(@0, @1, @2, @3, @4)";


            db.Execute(insertEan, Ean, Product, Afbeelding);
            db.Execute(insertProduct, Product, decodevanbelang, Aantal, Afbeelding, Hoeveelheid);
            Response.Redirect("~/Koelkast");
        }
    }
}


<h1>Voeg een product toe</h1>
    @Html.ValidationSummary()
  <form method="post">
    <fieldset>
      <legend>Product</legend>

      <p><label for="Ean">Ean:</label>
         <input class="Forms" type="text" name="Ean" value="@Ean" /></p>
        
      <p><label for="Product">Product:</label>
         <input class="Forms" type="text" name="Product" value="@Product" /></p>
        
      <p><label for="Afbeelding">Afbeelding:</label>
         <input class="Forms" type="text" name="Afbeelding" value="@Afbeelding" /></p>

      <p><input type="submit" class="Submit-btn" name="buttonSubmit" value="Toevoegen" /></p>
    </fieldset>
  </form>
  <a class="Link-btn" href="~/Koelkast"><p class="Submit-btn">Terug</p></a>


